
* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 30% 70%;
    width: auto;
    height: 150%;
}

div {
    background: #7ab0d4;
    color: black;
    font-family: arial, san-serif;
    text-align: center;
    width: auto;
    height: auto;
}

.left {
    padding-right: 30px;
    display: grid;
    grid-template: auto;
    grid-template-rows: 20% 70% 10%;
    height: 100%;
    background: white;
}

.right {
    display: inline-block;
    padding-top: 30px;

}

h1 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
    font-size: 80px;
    text-shadow: 5px 5px #7ab0d4;
}

/* left side */

header {
    display: block;
    grid-row: 1;
    margin: 40px;
}

/* right side */
.board {
    display: inline-block;
}

/* sudoku board */

table {
    width: 50%;
    height: 50%;    
    padding: 5px;
    margin: 0px;
    border-collapse: collapse;
    width: 9em;
    height: 9em;
    font-family: Baloo 2, Helvetica, sans-serif;
    font-size: 20px;
    color: #09293f;
}


td:nth-child(3n) {
    border-right: 2px solid black;
}

tr:nth-child(3n) td {
    border-bottom: 2px solid black;
}

td {
    margin: 0px;
    padding: 17px;
    text-align: center;
    border-right: 2px solid rgb(83, 80, 133);
    border-bottom: 2px solid rgb(83, 80, 133);
}


td:nth-last-of-type(9n) {
    border-left: none;
}

tr:nth-child(9) td{
    border-bottom: none;
}

tr:nth-child(1) td{
    border-top: none;
}

td:nth-last-of-type(9n+1) {
    border-right: none;
}

td:hover {
    background-color: #5a8bac;
}

/* buttons */

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

button {
    font-family: fantasy;
    background-color: white;
    border: none;
    color: #7ab0d4;
    padding: 10%;
    font-size: 20px;
    margin: 10%;
    border: 2px, solid, violet;
}

button.numerals {
    font-family: fantasy;
}

button:hover {
    color: #559dcc;
}

#check {
    grid-column: 1 / span 2;
    padding: 10% 28%;
    text-align: center;
}

